<md-dialog aria-label="">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Confirmación de Alta</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h5>¿Desea dar de alta a este mobiliario?</h5>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="modal.alta()">
                Aceptar
            </md-button>
            <md-button ng-click="modal.cancel()">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>