<section class="container">
    <div class="row">
        <div class="col m12">
            <h3>Reporte de Stock</h3>
        </div>
        <form class="filtros" action="#">
            <div class="col m1">
                <h6>Área</h6>
                <div class="col m6">
                    <p>
                        <input type="checkbox" id="test11" />
                        <label for="test11">TV</label>
                        </br>
                        <input type="checkbox" id="test12" />
                        <label for="test12">REF</label>
                        </br>
                        <input type="checkbox" id="test13" />
                        <label for="test13">CAV</label>
                    </p>
                </div>
            </div>
            <div class="col m2">
                <h6>Categoría</h6>
                <div class="col m6">
                    <p>
                        <input type="checkbox" id="test21" />
                        <label for="test21">Mesa</label>
                        </br>
                        <input type="checkbox" id="test22" />
                        <label for="test22">Pared</label>
                        </br>
                        <input type="checkbox" id="test23" />
                        <label for="test23">Columna</label>
                    </p>

                </div>
                <div class="col m6">
                    <p>
                        <input type="checkbox" id="test24" />
                        <label for="test24">Ruma</label>
                        </br>
                        <input type="checkbox" id="test25" />
                        <label for="test25">Totem</label>
                        </br>
                        <input type="checkbox" id="test26" />
                        <label for="test26">Tarima</label>
                    </p>
                </div>
            </div>
            <div class="col m3">
                <h6>Sub Categoría</h6>
                <div class="col m8">
                    <p>
                        <input type="checkbox" id="test31" />
                        <label for="test31">Smart TV</label>
                        </br>
                        <input type="checkbox" id="test32" />
                        <label for="test32">Super Ultra HDTV</label>
                        </br>
                        <input type="checkbox" id="test33" />
                        <label for="test33">Coreana</label>
                    </p>

                </div>
                <div class="col m4">
                    <p>
                        <input type="checkbox" id="test34" />
                        <label for="test34">Cubo</label>
                        </br>
                        <input type="checkbox" id="test35" />
                        <label for="test35">Chilena</label>
                        </br>
                        <input type="checkbox" id="test36" />
                        <label for="test36">Turbo</label>
                    </p>
                </div>
            </div>
            <div class="col m1">
                <h6>Región</h6>
                <div class="col m6">
                    <p>
                        <input type="checkbox" id="test41" />
                        <label for="test41">Lima</label>
                        </br>
                        <input type="checkbox" id="test42" />
                        <label for="test42">Provincias</label>
                    </p>
                </div>
            </div>
            <div class="col m1">
                <h6>Región II</h6>
                <div class="col m6">
                    <p>
                        <input type="checkbox" id="test51" />
                        <label for="test51">Lima</label>
                        </br>
                        <input type="checkbox" id="test52" />
                        <label for="test52">Centro</label>
                        </br>
                        <input type="checkbox" id="test53" />
                        <label for="test53">Oriente</label>
                    </p>
                </div>
            </div>
            <div class="col m1">
                <h6>Departamento</h6>
                <div class="col m12">
                    <p>
                        <input type="checkbox" id="test61" />
                        <label for="test61">Lima</label>
                        </br>
                        <input type="checkbox" id="test62" />
                        <label for="test62">Centro</label>
                        </br>
                        <input type="checkbox" id="test63" />
                        <label for="test63">Oriente</label>
                    </p>
                </div>
            </div>
            <div class="col m1">
                <h6>Provincia</h6>
                <div class="col m12">
                    <p>
                        <input type="checkbox" id="test71" />
                        <label for="test71">Abancay</label>
                        </br>
                        <input type="checkbox" id="test72" />
                        <label for="test72">Andahuaylas</label>
                        </br>
                        <input type="checkbox" id="test73" />
                        <label for="test73">Arequipa</label>
                    </p>
                </div>
            </div>
        </form>
    </div>
</section>