<!--<section class="container">-->
<div class="row">
    <div class="col s12 m12">
        <h3>Reporte de Stock</h3>
    </div>
    <form class="filtros col s12 m12 ">
        <div class="checkbox-group-container" style="width:7.6%">
            <h6>Área</h6>
            <div class="" ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="categoria in ctrl.categorias">
                        <input type="checkbox" id="{{'cat'+$index}}" ng-change="ctrl.sync(bool, categoria, 'categoria')" ng-model="bool" class="filled-in"/>
                        <label for="{{'cat'+$index}}">{{categoria.tipo}}</label>
                    </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container">
            <h6>Categoría</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="subcategoria1 in ctrl.subcategorias1">
                        <input type="checkbox" id="{{'subcat1'+$index}}" ng-change="ctrl.sync(bool, subcategoria1, 'subcategoria1')" ng-model="bool" class="filled-in"/>
                        <label for="{{'subcat1'+$index}}">{{subcategoria1.tipo}}</label>
                    </div>
                </p>

            </div>
        </div>
        <div class="checkbox-group-container">
            <h6>Sub Categoría</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="subcategoria2 in ctrl.subcategorias2">
                        <input type="checkbox" id="{{'subcat2'+$index}}" ng-change="ctrl.sync(bool, subcategoria2, 'subcategoria2')" ng-model="bool" class="filled-in"/>
                        <label for="{{'subcat2'+$index}}">{{subcategoria2.tipo}}</label>
                    </div>
                </p>

            </div>
        </div>
        <div class="checkbox-group-container" style="width:7.6%">
            <h6>Región</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="region1 in ctrl.region1">
                        <input type="checkbox" id="{{'reg1'+$index}}" ng-change="ctrl.sync(bool, region1, 'region1')" ng-model="bool" class="filled-in"/>
                        <label for="{{'reg1'+$index}}">{{region1.nombre}}</label>
                    </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container" style="width: 7.6%;">
            <h6>Región II</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="region2 in ctrl.region2">
                        <input type="checkbox" id="{{'reg2'+$index}}" ng-change="ctrl.sync(bool, region2, 'region2')" ng-model="bool" class="filled-in"/>
                        <label for="{{'reg2'+$index}}">{{region2.nombre}}</label>
                    </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container" style="width: 9.6%;">
            <h6>Departamento</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="departamento in ctrl.departamentos">
                        <input type="checkbox" id="{{'depa'+$index}}" ng-change="ctrl.sync(bool, departamento, 'departamento')" ng-model="bool" class="filled-in"/>
                        <label for="{{'depa'+$index}}">{{departamento.nombre}}</label>
                    </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container">
            <h6>Provincia</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="provincia in ctrl.provincias">
                        <input type="checkbox" id="{{'prov'+$index}}" ng-change="ctrl.sync(bool, provincia, 'provincia')" ng-model="bool" class="filled-in"/>
                        <label for="{{'prov'+$index}}">{{provincia.nombre}}</label>
                    </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container" style="width: 12.6%;">
            <h6><div class="input-field">
                <i class="material-icons sufix" ng-click="ctrl.showModalNuevaTienda()">library_add</i>
                <label for="search-text">Tienda</label>
                <input id="search-text" ng-model="ctrl.searchText"  type="text"/>
            </div>
            </h6>

            <!--<form ng-submit="$event.preventDefault()">-->
                <!--<md-autocomplete
                        md-selected-item="ctrl.selectedItem"
                        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                        md-search-text="ctrl.searchText"
                        md-selected-item-change="ctrl.selectedItemChange(item)"
                        md-items="item in ctrl.tiendas | filter: ctrl.searchText"
                        md-item-text="item.name"
                        md-min-length="0"
                        placeholder="Escriba el nombre de una tienda">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{ctrl.searchText}}" were found.
                        <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                    </md-not-found>
                </md-autocomplete>
                <br/>
            <!--</form>-->

            <div class="" style="height: 141px; overflow-y:auto; ">
                <p>
                <div ng-repeat="tienda in ctrl.tiendas | filter: ctrl.showItem | orderBy: 'bool'">
                    <input type="checkbox" id="{{'tienda'+$index}}" ng-change="ctrl.sync(tienda.bool, tienda, 'tienda')" ng-model="tienda.bool" class="filled-in"/>
                    <label for="{{'tienda'+$index}}">{{tienda.name}}</label>
                </div>
                </p>
                <!--<p>
                    <div ng-repeat="tienda in ctrl.tiendas">
                        <input type="checkbox" id="{{'tienda'+$index}}" ng-change="ctrl.sync(bool, tienda, 'tienda')" ng-model="bool" />
                        <label for="{{'tienda'+$index}}">{{tienda.name}}</label>
                    </div>
                </p>-->
            </div>
        </div>
        <div class="checkbox-group-container" style="width: 8.6%;">
            <h6>Retail</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                <div ng-repeat="retail in ctrl.retails">
                    <input type="checkbox" id="{{'r'+$index}}" ng-change="ctrl.sync(bool, retail, 'retail')" ng-model="bool" class="filled-in"/>
                    <label for="{{'r'+$index}}">{{retail.name.charAt(0).toUpperCase() + retail.name.substr(1).toLowerCase();}}</label>
                </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container half-height" style="width: 8.6%;">
            <h6>Tipo</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config_last_checkbox_group">
                <p>
                <div ng-repeat="tipoTienda in ctrl.tipoTienda">
                    <input type="checkbox" id="{{'ts'+$index}}" ng-change="ctrl.sync(bool, tipoTienda, 'tipoTienda')" ng-model="bool" class="filled-in"/>
                    <label for="{{'ts'+$index}}">{{tipoTienda.name}}</label>
                </div>
                </p>
            </div>
        </div>
        <div class="btn-filter-container">
            <a class="btn btn-small" ng-click="ctrl.submit($event)">Filtrar</a>
            <a class="btn btn-small orange darken-4" ng-click="ctrl.cleanFilters($event)">Limpiar Filtros</a>
        </div>

    </form>

    <div class="row">
        <div class="col s12">
            <table datatable="" dt-instance="ctrl.dtInstance" dt-options="ctrl.dtOptions" dt-columns="ctrl.dtColumns" class="striped"></table>
        </div>
    </div>

    <!--
    <table datatable="ng" class="row-border hover">
        <thead>
        <tr>
            <th><span>AREA</span></th>
            <th><span>CATEGORIA</span></th>
            <th>SUB CATEGORIA</th>
            <th>REGION</th>
            <th>REGION II</th>
            <th>TIENDA</th>
            <th>DEPARTAMENTO</th>
            <th>PROVINCIA</th>
            <th>TIPO</th>
            <th>CANTIDAD</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stock in ctrl.stock">
            <td>{{stock.categoria.tipo}}</td>
            <td>{{stock.subcategoria1.tipo}}</td>
            <td>{{stock.subcategoria2.tipo}}</td>
            <td>{{stock.tienda.direccion_ubicacion.region1.nombre}}</td>
            <td>{{stock.tienda.direccion_ubicacion.region2.nombre}}</td>
            <td>{{stock.tienda.name}}</td>
            <td>{{stock.tienda.direccion_ubicacion.departamento.nombre}}</td>
            <td>{{stock.tienda.direccion_ubicacion.provincia.nombre}}</td>
            <td>{{stock.tienda.tipo_tienda.name}}</td>
            <td>{{stock.cantidad}}</td>
        </tr>
        </tbody>
    </table>
    -->
    <!--
    <div class="row">
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table  multiple ng-model="ctrl.selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                <tr md-row>
                    <th md-column md-order-by="nameToLower"><span>AREA</span></th>
                    <th md-column md-numeric md-order-by="subcategoria1.tipo"><span>CATEGORIA</span></th>
                    <th md-column md-numeric>SUB CATEGORIA</th>
                    <th md-column md-numeric>REGION</th>
                    <th md-column md-numeric>REGION II</th>
                    <th md-column md-numeric>TIENDA</th>
                    <th md-column md-numeric>DEPARTAMENTO</th>
                    <th md-column md-numeric>PROVINCIA</th>
                    <th md-column md-numeric>TIPO</th>
                    <th md-column md-numeric>CANTIDAD</th>

                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="stock" md-select-id="categoria.tipo" md-auto-select ng-repeat="stock in ctrl.stock">
                    <td md-cell>{{stock.categoria.tipo}}</td>
                    <td md-cell>{{stock.subcategoria1.tipo}}</td>
                    <td md-cell>{{stock.subcategoria2.tipo}}</td>
                    <td md-cell>{{stock.tienda.direccion_ubicacion.region1.nombre}}</td>
                    <td md-cell>{{stock.tienda.direccion_ubicacion.region2.nombre}}</td>
                    <td md-cell>{{stock.tienda.name}}</td>
                    <td md-cell>{{stock.tienda.direccion_ubicacion.departamento.nombre}}</td>
                    <td md-cell>{{stock.tienda.direccion_ubicacion.provincia.nombre}}</td>
                    <td md-cell>{{stock.tienda.tipo_tienda.name}}</td>
                    <td md-cell>{{stock.cantidad}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{ctrl.stock.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
    </div>-->
</div>
<!--</section>-->