<div class="container footer-container">
    <footer class="wrapper">
        <small>2016 © Copyright - Tracking System - Desarrollado por <a href="http://www.neoprojects.com.pe/" target="_blank">NeoProjects</a></small>
    </footer>
</div>

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>-->
<!--<script src="js/vendor/modernizr-2.8.3.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>-->
<script src="app/lib/main.js"></script>
