<header>
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col s6">
                <div class="center-align valign-wrapper">     <a ui-sref="index.home">
                    <img class="valign" width="100" src="assets/images/logo-lg.png">
                    <div class="slogan valign">Tracking System</div>
                </a>
                </div>
            </div>
            <div class="col s6 right-align">
                Usuario: Juan Pérez <a class="logout" href="" logout><i class="material-icons">exit_to_app</i></a>
            </div>
        </div>
        <ul id="dropdown_usuarios" class="dropdown-content">
            <li><a href="javascript:void(0);">Nuevos Usuarios</a></li>
            <li><a href="javascript:void(0);" >Administrar</a></li>
        </ul>
        <ul id="dropdown_usuarios_mobile" class="dropdown-content">
            <li><a ui-sref="index.user-new">Nuevos Usuarios</a></li>
            <li><a ui-sref="index.home" >Administrar</a></li>
        </ul>
        <nav class="red darken-2">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="hide-on-med-and-down">
                <li ng-class="{active: $state.current.name=='index.home'}"><a ui-sref="index.home">Reportes - {{$state.current.name}}</a></li>
                <li ng-class="{active: $state.current.name=='index.furniture'}"><a ui-sref="index.furniture">Mobiliarios<span class="new badge">2</span></a></li>
                <li ng-class="{active: $state.current.name=='index.user-new'}">
                    <a ui-sref="index.user-new">Usuarios<span class="new badge">2</span></a>
                    <!--<a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown_usuarios" dropdown data-hover="true">
                        Usuarios<i class="material-icons right">arrow_drop_down</i>
                    </a>-->
                    <!--<a class='dropdown-button btn' href='javascript:void(0);' data-activates='dropdown_usuarios' dropdown data-hover="true">
                        This is a dropdown
                    </a>-->
                </li>
                <li ng-class="{active: $state.current.name=='index.tracks'}"><a ui-sref="index.tracks">Tracks<span class="new badge">1</span></a></li>

            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li ng-class="{active: $state.current.name=='index.home'}"><a ui-sref="index.home">Reportes</a></li>
                <li ng-class="{active: $state.current.name=='index.furniture'}"><a ui-sref="index.furniture">Mobiliarios<span class="new badge">2</span></a></li>
                <!--<li ng-class="{active: $state.current.name=='index.users'}"><a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown_usuarios_mobile">Usuarios<i class="material-icons right">arrow_drop_down</i></a></li>-->
                <li ng-class="{active: $state.current.name=='index.user-new'}"><a ui-sref="index.user-new">Usuarios<span class="new badge">2</span></a></li>
                <li ng-class="{active: $state.current.name=='index.tracks'}"><a ui-sref="index.tracks">Tracks<span class="new badge">1</span></a></li>

            </ul>
        </nav>

    </div>
</header>