
<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>
<section class="container usuarios">

<h5>Alta de Usuarios</h5>
<ul class="collection">

<li data-id="{{usuario.id}}" class="collection-item avatar" ng-repeat="usuario in ctrl.usuarios">
    <div>
        <img src="http://lorempixel.com/50/50" alt="" class="circle">
    </div>
    <div>
        <span class="title"> {{usuario.username}} - {{usuario.status}}<span ng-if=""> - {{usuario.celular}}</span></span>
        <p>{{usuario.first_name}}&nbsp {{usuario.last_name}} </br>Fecha de registro: {{usuario.created_at}}
    </p>
    </div>
    <div class="secondary-content">
        <a ng-click="ctrl.showModalAlta($event)" ><i class="small material-icons">done</i></a>
        <a ng-click="ctrl.showModalBaja($event)" ><i class="small material-icons">clear</i></a>
    </div>
    </li>
</ul>
</section>
