<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>
<section class="container usuarios tracking-container">

    <h5>Registro de tracking</h5>
    <i ng-click="ctrl.refresh()" class="material-icons tooltipped refresh-icon" data-position="top" data-delay="50" data-tooltip="Actualizar">loop</i>
    <div class="input-field">
        <input id="buscar-track" type="text" ng-model="ctrl.keyword">
        <label style="left:0;" for="buscar-track">Buscar tienda</label>
    </div>
    <div style="overflow: auto;height: 405px">
        <table class="striped responsive-table">
            <thead>
            <tr>
                <th data-field="id">Tienda</th>
                <th data-field="id">Código</th>
                <th data-field="id">Observacion</th>
                <th data-field="id">Latitud</th>
                <th data-field="id">Longitud</th>
                <th data-field="id">Número</th>
                <th data-field="id">Fecha</th>
            </tr>
            </thead>

            <tbody>
            <!--<tr ng-repeat="track in ctrl.tracks | filter:searchText | orderBy: 'track.created_at':true " ng-click="ctrl.showMap(track)">-->
            <tr dir-paginate="track in ctrl.tracks.data | itemsPerPage: ctrl.tracks.per_page"
                total-items="ctrl.tracks.total"
                current-page="ctrl.tracks.current_page"
                ng-click="ctrl.showMap(track)">
                <td>{{track.tienda.name}}</td>
                <td>{{track.codigo}}</td>
                <td>{{track.obs}}</td>
                <td>{{track.lat}}</td>
                <td>{{track.lng}}</td>
                <td>
                    <a>
                        <md-tooltip md-direction="top">
                            {{ (track.usuario.first_name == '' && track.usuario.first_name== '')?'No reconocido':(track.usuario.first_name + ' ' + track.usuario.last_name) }}
                        </md-tooltip>
                        {{track.num}}
                    </a>
                </td>
                <td>{{track.created_at}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <dir-pagination-controls ng-disabled="ctrl.disablePaginator" boundary-links="true" on-page-change="ctrl.pageChangeHandler(newPageNumber, $event)"></dir-pagination-controls>
</section>
<div class="container">
    <ng-map center="{{ctrl.ubicacion.lat}},{{ctrl.ubicacion.lng}}" zoom="15">
        <marker position="{{ctrl.ubicacion.lat}},{{ctrl.ubicacion.lng}}" title="Hello World!"></marker>
    </ng-map>
</div>
<script>
    $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
    });
</script>
