<section class="container">
    <div class="row">
        <div ng-repeat="track in ctrl.tracks" class="card">

            <div class="col s12 m12">
                <h4>Tracking {{$index}} del {{track.dtime}}</h4>
                <img ng-if="track.track_imagen.length>0" src="{{image.url}}" alt="" ng-repeat="image in track.track_imagen" style="max-height: 180px;max-width:180px"/>
            </div>
            <div class="col s12 m12 card">
                <div class="detalle-contenido">
                    <!--<p class="flow-text"><b>Código:</b> 234234234</p>-->
                    <p class="flow-text">
                        Tienda: {{ track.tienda.name }}
                    </p>
                    <p class="flow-text">
                        Codigo de Mueble: {{ track.codigo }}
                    </p>
                    <p class="flow-text">
                        Latitud: {{track.lat}}
                    </p>
                    <p class="flow-text">
                        Longitud: {{track.lng}}
                    </p>
                    <div>
                        <!--<a class="waves-effect waves-light btn"><i class="material-icons left">done</i>Agregar</a></a>-->
                        <!--<a class="waves-effect red btn"><i class="material-icons left">clear</i>Borrar</a>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .detalle-contenido{

    }
</style>