
<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>

<section class="container usuarios">

<h5>Alta de Mobiliarios</h5>
<ul class="collection">
    <li class="collection-item avatar" ng-repeat="mobiliario in ctrl.mobiliarios ">
        <div>
        <img src="{{ mobiliario.image}} " alt="" >
        </div>

        <div>
        <span class="title"><b>Código: {{mobiliario.codigo}}</b></span>
        <p>
        Título: {{ mobiliario.titulo }}</br>
        Usuario: {{ mobiliario.usuario }}</br>Fecha de registro: {{mobiliario.fecha_ingreso}}</br>
        Ubicación: {{ mobiliario.ubicacion }}
    </p>
        </div>
        <div class="secondary-content">
        <a title="Ver Detalle" ui-sref="index.furniture-detail" ><i class="small material-icons">visibility</i></a>
        <a title="Aprobar" href="#modal1" ><i class="small material-icons">done</i></a>
        <a title="Eliminar" class="modal-trigger" href="#modal1"><i class="small material-icons">clear</i></a>
        </div>
    </li>
</ul>
</section>
<div id="modal1" class="modal">
<div class="modal-content">
<h4>Confirmación de Eliminación</h4>
<p>¿Desea eliminar este mobiliario?</p>
</div>
<div class="modal-footer">
<a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
<a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Aceptar</a>
</div>
</div>
