<section class="container">
    <div class="row">
        <section class="container">
            <div class="row">
                <div></div>
            </div>
        </section>
        <nav class="red darken-2">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a ui-sref="index.furniture" class="breadcrumb">Mobiliarios</a>
                    <a class="breadcrumb">Historial de mobiliario</a>
                    <a class="breadcrumb" style="float:right;">Código {{ctrl.codigo}}</a>
                </div>
            </div>
        </nav>
        <div class="col s12 m12 card">
            <div class="col s12 m12">
                <p>Vida útil: <b>{{ ctrl.vida_util + ' años'}}</b></p>
                <p>Fecha Adquisición: <b>{{ctrl.stock.created_at}}</b></p>
                <p>Precio:</p>
                <p>Proveedor:</p>
            </div>
        </div>
        <div ng-repeat="track in ctrl.tracks" class="card" ng-if="track.status.name!='pendiente'">

            <div class="col s12 m12">
                <h4>Tracking del {{track.created_at}}</h4>
                <img ng-if="track.track_imagen.length>0" src="{{image.url}}" alt="" ng-repeat="image in track.track_imagen" style="max-height: 180px;max-width:180px"/>
            </div>
            <div class="col s12 m12 card">
                <div class="detalle-contenido">
                    <!--<p class="flow-text"><b>Código:</b> 234234234</p>-->
                    <p class="flow-text">Usuario: {{ track.user_first_name +' '+ track.user_last_name}}</p>
                    <p class="flow-text">Teléfono: {{ track.usuario.phone_number }}</p>
                    <p class="flow-text">
                        Tienda: {{ track.tienda.name }}
                    </p>
                    <p class="flow-text">
                        Observación: {{ track.obs }}
                    </p>
                    <p class="flow-text">
                        Latitud: {{track.lat}}
                    </p>
                    <p class="flow-text">
                        Longitud: {{track.lng}}
                    </p>
                    <div>
                        <!--<a class="waves-effect waves-light btn"><i class="material-icons left">done</i>Agregar</a></a>-->
                        <!--<a class="waves-effect red btn"><i class="material-icons left">clear</i>Borrar</a>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .detalle-contenido{

    }
</style>