
<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>

<section class="container usuarios">

<h5 style="margin:0;display: inline-block;">Mobiliarios</h5>
    <p style="float: right;">
        Registros:
        <span class="green-text ">{{'Alta: '+ctrl.stock_registros.alta }} </span>,
        <span class="red-text">{{'Baja: '+ctrl.stock_registros.baja}}</span>,
        <span class="yellow-text text-darken-2">{{'Pendiente de alta: '+ctrl.stock_registros.pendientes }}</span>,
        <span class="red-text text-lighten-3">{{'Pendiente de baja: '+ctrl.stock_registros.pendiente_baja}}</span>
    </p>
<a style="margin-bottom: 13px;margin-left: 10px;" title="crear nuevo" ui-sref="index.furniture-new" class="btn-floating btn waves-effect waves-light red"><i class="material-icons">add</i></a>
<div class="input-field">
    <input id="buscar-mobiliario" type="text" ng-model="searchText">
    <label style="left:0;" for="buscar-mobiliario">Buscar</label>
</div>
<ul class="collection">
    <li data-codigo="{{stock.codigo}}" class="collection-item avatar" ng-repeat="stock in ctrl.stocks | filter:searchText | orderBy: 'stock.stock_status.name':false ">
        <!--<div>
            <img src="{{ mobiliario.track_imagen[0].url}}" alt="" style="width:120px; height: 120px;">
        </div>-->

        <div>
            <p>
                <b>Codigo:</b> {{ stock.codigo }}<br>
                <b>Area:</b> {{ stock.categoria }}<br>
                <b>Categoria:</b> {{ stock.subcategoria1 }}<br/>
                <b>Subcategoria:</b> {{ stock.subcategoria2 }}<br/>
                <p ng-if="stock.status!='pendiente_alta_puede_editar' && stock.status!='pendiente_alta'"><b>Tienda:</b> {{ stock.tienda }}</p>
                <div class="chip red accent-1" ng-if="stock.status=='pendiente_baja'">PENDIENTE DE BAJA</div>
                <div class="chip green" ng-if="stock.status=='alta'">ALTA</div>
                <div class="chip green accent-1"
                     ng-if="stock.status=='pendiente_alta' || stock.status=='pendiente_alta_puede_editar'"
                        >PENDIENTE DE ALTA</div>
                <div class="chip red" ng-if="stock.status=='baja'">BAJA</div>

            </p>
        </div>
        <div class="secondary-content">
            <a class="icono-detalle" title="Ver Detalle" ui-sref="index.furniture-detail({codigo:stock.codigo})"
               ng-if="stock.status!='pendiente_alta' && stock.status!='pendiente_alta_puede_editar'">
                <i class="small material-icons">visibility</i></a>
            <a class="icono-editar" title="Editar" ui-sref="index.furniture-edit({id: stock.id})"
               ng-if="stock.status!='pendiente_alta'">
                <i class="small material-icons">mode_edit</i></a>
            <a class="icono-baja" title="Dar de baja"
               ng-if="stock.status != 'baja'" ng-click="ctrl.showModalBaja($event)" >
                <i class="small material-icons">trending_down</i></a>
            <!--<a title="Aprobar" href="#modal1" class="modal-trigger"><i class="small material-icons">done</i></a>
            <a title="Eliminar" href="#modal2" class="modal-trigger"><i class="small material-icons">clear</i></a>-->
        </div>
    </li>
</ul>
</section>
