<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>
<section class="container usuarios">
    <div class="row">
        <nav class="red darken-2">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a ui-sref="index.users" class="breadcrumb">Mobiliarios</a>
                    <a class="breadcrumb">Nuevo</a>
                    <!--<a class="breadcrumb" style="float:right;">{{ctrl.user.first_name+' '+ ctrl.user.last_name}}</a>-->
                </div>
            </div>
        </nav>
        <div ng-include="'app/pages/furniture/views/templates/furniture.form.html'"></div>
    </div>
</section>

<div class="container">
	
</div>