
<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>

<section class="container usuarios">

<h5>Alta de Mobiliarios</h5>
<ul class="collection">
    <li data-id="{{mobiliario.id}}" class="collection-item avatar" ng-repeat="mobiliario in ctrl.mobiliarios ">
        <div>
            <img src="{{ mobiliario.stock_imagen[0].url}} " alt="" style="width:120px">
        </div>

        <div>
            <p>
                Descripcion: {{ mobiliario.descripcion }}</br>
                Cantidad: {{ mobiliario.cantidad }}</br>
                Area: {{mobiliario.categoria.tipo}}</br>
                Categoria: {{mobiliario.subcategoria1.tipo}}</br>
                Subcategoria: {{mobiliario.subcategoria2.tipo}}</br>
                Ubicación: {{ mobiliario.ubicacion.tipo }}
            </p>
        </div>
        <div class="secondary-content">
            <a title="Ver Detalle" ui-sref="index.furniture-detail({id:mobiliario.id})" ><i class="small material-icons">visibility</i></a>
            <a ng-click="ctrl.showModalAlta($event)" ><i class="small material-icons">done</i></a>
            <a ng-click="ctrl.showModalBaja($event)" ><i class="small material-icons">clear</i></a>
            <!--<a title="Aprobar" href="#modal1" class="modal-trigger"><i class="small material-icons">done</i></a>
            <a title="Eliminar" href="#modal2" class="modal-trigger"><i class="small material-icons">clear</i></a>-->
        </div>
    </li>
</ul>
</section>
