<section class="container">
    <div class="row">
        <div class="col s12 m12">
            <h3>Mueble para TV 42</h3>
        </div>
        <div class="col s12 m6">

            <div class="carousel carousel-slider center" data-indicators="true">
                <div class="carousel-item " href="#one!">
                    <img class="responsive-img" src="{{ctrl.mobiliario.stock_imagen[0].url}}" style="width: 380px;height:380px">
                </div><!--
                <div class="carousel-item " href="#one!">
                    <img class="responsive-img" src="http://lorempixel.com/600/600/abstract/img234">
                </div>
                <div class="carousel-item " href="#two!">
                    <img class="responsive-img" src="http://lorempixel.com/600/600/abstract/img244">
                </div>
                <div class="carousel-item " href="#three!">
                    <img class="responsive-img" src="http://lorempixel.com/600/600/abstract/img444">
                </div>
                <div class="carousel-item " href="#four!">
                    <img class="responsive-img" src="http://lorempixel.com/600/600/abstract/img456">
                </div>-->
            </div>
        </div>
        <div class="col s12 m6">
            <div class="detalle-contenido">
                <!--<p class="flow-text"><b>Código:</b> 234234234</p>-->
                <p class="flow-text">
                    Descripcion: {{ ctrl.mobiliario.descripcion }}
                </p>
                <p class="flow-text">
                    Cantidad: {{ ctrl.mobiliario.cantidad }}
                </p>
                <p class="flow-text">
                    Area: {{ctrl.mobiliario.categoria.tipo}}
                </p>
                <p class="flow-text">
                    Categoria: {{ctrl.mobiliario.subcategoria1.tipo}}
                </p>
                <p class="flow-text">
                    Subcategoria: {{ctrl.mobiliario.subcategoria2.tipo}}
                </p>
                <p class="flow-text">
                    Fecha: {{ ctrl.mobiliario.fecha }}
                </p>
                <p class="flow-text">
                    Ubicación: {{ ctrl.mobiliario.ubicacion.tipo }}
                </p>
                <div>
                    <a class="waves-effect waves-light btn"><i class="material-icons left">done</i>Agregar</a></a>
                    <a class="waves-effect red btn"><i class="material-icons left">clear</i>Borrar</a>

                </div>
            </div>
        </div>

    </div>
</section>
