<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>
<section class="container usuarios">
    <div class="row">
        <nav class="red darken-2">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a ui-sref="index.furniture" class="breadcrumb">Mobiliario</a>
                    <a class="breadcrumb">Editar</a>
                    <a class="breadcrumb" style="float:right;">Codigo: {{ctrl.stock.codigo}}</a>
                </div>
            </div>
        </nav>
        <!--<div ng-include="'app/pages/furniture/views/templates/furniture.form.html'"></div>-->
        <form class="col s12">
            <div class='row'>
                <div class='col s12'>
                </div>
            </div>

            <!--<div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Código</p>
                    </div>
                    <div class="col s11">
                        <input ng-model="ctrl.stock.codigo" class='validate' type="text" placeholder="Codigo" required/>
                    </div>
                </div>
            </div>-->
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Area</p>
                    </div>
                    <div class="col s11">
                        <md-select class="width-100" placeholder="Area" data-ng-model="ctrl.stock.categoria">
                            <md-option value="">Seleccionar area</md-option>
                            <md-option value="{{area.id}}" ng-repeat="area in ctrl.areas" >{{area.tipo}}</md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Categoría</p>
                    </div>
                    <div class="col s11">
                        <md-select class="width-100" placeholder="Categoria" data-ng-model="ctrl.stock.subcategoria1">
                            <!--<md-option value="one">One</md-option>-->
                            <md-option value="{{categoria.id}}" ng-repeat="categoria in ctrl.categorias" >{{categoria.tipo}}</md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Subcategoria</p>
                    </div>
                    <div class="col s11">
                        <md-select class="width-100" placeholder="Subcategoria" data-ng-model="ctrl.stock.subcategoria2">
                            <!--<md-option value="one">One</md-option>-->
                            <md-option value="{{subcategoria2.id}}" ng-repeat="subcategoria2 in ctrl.subcategorias" >{{subcategoria2.tipo}}</md-option>
                        </md-select>
                    </div>
                </div>
            </div>

            <br />
            <center>
                <div class='row'>
                    <button ng-click="ctrl.submit($event)" type='submit' class='col offset-s3 s6 btn btn-large waves-effect red darken-2'>Editar</button>
                </div>
            </center>
        </form>
    </div>
</section>

<div class="container">

</div>